body{
    background: linear-gradient(to bottom,#5C2DD5 0%,#7945FF 50%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.frontPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 480px;
    height: 435px;
    background: #7945FF;
    border: 3px solid #000000;
    box-shadow: 0 10px 0 #000000;
    border-radius: 40px;
}
.frontPageInner{
    width: 400px;
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.plpAndGameRulesDiv{
    width: 400px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gameRules, .plp{
    width: 400px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFCE67;
    border-radius: 20px;
    
}
.plp{
	outline: 1px solid transparent;
}
.gameRules{
    background-color: white;
    
}
.font, .menuIns{
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	
}
.plp:hover, .gameRules:hover,.tickedSvg:hover,#quitGame:hover,#pause:hover,.menuIns:hover{
	cursor: pointer;
	opacity: 90%;
	outline-color: pink;
}

.littleCirclesDiv{
    width: 52px;
    height: 52px;
    display: block;
}
.littleCircles {
    width: 20px;
    height: 20px;
}
.rulesPage,.gameRules{
    border: 3px solid #000000;
    box-shadow: 0 10px 0 #000000;
}
.rulesPage {
	   position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    padding: 34px 30px 34px 54px;
    width: 480px;
    height: 537px;
    background: #FFFFFF;
    border-radius: 40px;
    bottom: 58.7%;
    margin: 30px;
}
.tickedSvg{
	position: absolute;
	bottom: 0;
	margin-bottom: -35px;
}

.rulesPageInner1{
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    text-align: center;
    width: 169px;
    height: 71px;
}

.rulesPageInner2{
    border: 1px solid red;
    width: 412px;
    height: 105px;
}
.rulesPageInner3{
    width: 412px;
    height: 219px;
    border: 1px solid red;

}
.paragraphs{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.66;
    width: 412px;
    height: 60px;
}
.purpleText{
    color: #7945FF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    width: 412px;
    height: 26px;
}
ol li{
    width: 412px;
    height: 42px;
}
ol{
    width: 412px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
}
ol #li1{
    height: 21px;
}

.cleanStatePage{
    display: none;
    align-items: center;
    gap: 60px;
}
.btmSec{
	display: flex;
}
.wins{
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 71px;
	text-align: center;
	
}
.playAgain{
	width: 130px;
	height: 39px;
	border-radius: 24px;
	background-color: #5C2DD5;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: white
}
#bottom_bar{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 285px;
	height: 160px;
	border: 1px solid red;
	left: 27.5%;
	background-color: white;
	color: black;
	border-radius: 24px;
	border: 3px solid black;
	box-shadow: 0 8px black;
	margin-top: -50px;
	
}
.pp1,.playAgain{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}
.boardDiv{
    position: relative;
    display: flex;
    flex-direction: column;
}
.blackBoard{
    position: relative;
}
.whiteBoard{
    position: absolute;
    left: 0;
}
.boardTop{
    display: flex;
    justify-content: space-between;
}
.menu,.restart{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 24px;
    background-color: #5C2DD5;
    width: 86px;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.restart{
    width: 108px;
    height: 39px;
}
.menu:hover,.restart:hover{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.markerRed{
	   display: flex;
    position: absolute;
    left: 35%;
    margin-top: -30px;
}
.whoseTurnDetails{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40.3%;
    z-index: 1;
    padding-top: 10px;
}
.whoseTurnText{
    height: 20px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.timerCountDown{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    color: white;
    display: flex;
   justify-content: center;
}
.PlyrScrDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px solid;
    width: 141px;
    height: 187px;
    background-color: white;
    box-shadow: 0 12px;
    border-radius: 24px;
}
.smlSvg{
    width: 54px;
    height: 59px;
    margin-top: -23px;
}
.pl1{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.score{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
}
.bottom_bar{
	width: 1440px;
	height: 200px;
	border: 1px solid red;
	background: #5C2DD5;
	border-radius: 60px 60px 0px 0px;
	display: none;
}
.followMarker{
	position: absolute;
	z-index: 1;
}	
.invisibleBoard{
	border: 1px solid red;
	display: grid;
	position: absolute;
	width: 632px;
	height: 584px;
	grid-template-columns: auto auto auto auto auto auto auto;
	left: 0;
	z-index: 10
}
.invisibleBoardDivs{
	display: inline-block;
	width: 84px;
	height: inherit;
	background-color: transparent;
}
.counter{
	position: absolute;
	z-index: 20;
	left: 17px;
	visibility: hidden;
}
.menuPage{
	position: absolute;
	z-index: 5;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 480px;
	height: 491px;
	border: 1px solid red;
	gap: 50px;
	border: 3px solid black;
	border-radius: 24px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #7945FF; 
}
.menuIns{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 72px;
	border: 1px solid black;
	box-shadow: 0 14px black;
	border-radius: 24px;
	background-color: white;
	cursor: pointer; 
	
}
#pause{
	border: none;
	background: none;
	box-shadow: none;
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 71px;
	text-align: center;
	color: white;
	cursor: pointer; 
}
#quitGame{
	background-color: #FD6687; 
	color: white;
	cursor: pointer; 
}
#quitGame:hover{
	box-shadow: 0 14px #5C2DD5;
}