body{
    background: linear-gradient(to bottom,#5C2DD5 0%,#7945FF 50%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.frontPage{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 480px;
    height: 435px;
    background: #7945FF;
    border: 3px solid #000000;
    box-shadow: 0 10px 0 #000000;
    border-radius: 40px;
}
.frontPageInner{
    width: 400px;
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.plpAndGameRulesDiv{
    width: 400px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gameRules, .plp{
    width: 400px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFCE67;
    border-radius: 20px;
}
.gameRules{
    background-color: white;
}

.littleCirclesDiv{
    width: 52px;
    height: 52px;
    display: block;
}
.littleCircles {
    width: 20px;
    height: 20px;
}
.rulesPage,.gameRules{
    border: 3px solid #000000;
    box-shadow: 0 10px 0 #000000;
}
.rulesPage {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    padding: 34px 30px 34px 54px;
    width: 480px;
    height: 537px;
    background: #FFFFFF;
    border-radius: 40px;
    bottom: 58.7%;

}
.rulesPageInner1{
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    text-align: center;
    width: 169px;
    height: 71px;
}

.rulesPageInner2{
    border: 1px solid red;
    width: 412px;
    height: 105px;
}
.rulesPageInner3{
    width: 412px;
    height: 219px;
    border: 1px solid red;

}
.paragraphs{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.66;
    width: 412px;
    height: 60px;
}
.purpleText{
    color: #7945FF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    width: 412px;
    height: 26px;
}
ol li{
    width: 412px;
    height: 42px;
}
ol{
    width: 412px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
}
ol #li1{
    height: 21px;
}

.cleanStatePage{
    display: flex;
    align-items: center;
    gap: 60px;

}
.boardDiv{
    position: relative;
    display: flex;
    flex-direction: column;
}
.whiteBoardGrid {
  display: grid;
  max-width: 632px;
  max-height: 584px;
  border: 3px solid #000000;
  grid-template-columns: repeat(7, 1fr); /* create 7 equal-width columns */
  grid-template-rows: repeat(6, 1fr); /* create 6 equal-height rows */
  background: white;
  justify-items: center;
  padding: 20px;
  border-radius: 24px;
  
}

.circle {
  box-sizing: border-box;
  background-color: #7945FF !important;
  border: 3px solid #000000;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: transparent; 
}

.blackBoard{
    position: absolute;
    left: 
    
}
.boardTop{
    display: flex;
    justify-content: space-between;
}
.menu,.restart{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 24px;
    background-color: #5C2DD5;
    width: 86px;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.restart{
    width: 108px;
    height: 39px;
}
.menu:hover,.restart:hover{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.markerRed{
  position: absolute;
    width: 191px;
    height: 150px;
    left: 35%;
}
.whoseTurnDetails{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40.3%;
    z-index: 1;
    padding-top: 30px;
}
.whoseTurnText{
    height: 20px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.timerText{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    color: white;
    display: flex;
   justify-content: center;
}
.PlyrScrDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px solid;
    width: 141px;
    height: 187px;
    background-color: white;
    box-shadow: 0 12px;
    border-radius: 24px;
}
.smlSvg{
    width: 54px;
    height: 59px;
    margin-top: -23px;
}
.pl1{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.score{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
}

